@import "tailwindcss";
@import "tw-animate-css";
@import "../vendors/design-system/index.css";

:root {
	--header-height: 4rem;
	--py-page: 2rem;
}

body {
	@apply bg-gray-50;
}

/* screen - header - padding y */
@utility min-h-screen-nh {
    min-height: calc(100vh - var(--header-height) - (2 * var(--py-page)));
}