@import "tailwindcss";
@import "tw-animate-css";
@import "../vendors/design-system/index.css";

:root {
	--header-height: 4rem;
	--py-page: 1rem;
}

body {
	@apply bg-gray-50;
}

/* screen - header - padding y */
@utility min-h-screen-nh {
	min-height: calc(100vh - var(--header-height));
}